/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center child elements horizontally */
  align-items: center; /* Center child elements vertically if needed */
  width: 100%; /* Full width to accommodate centering */
  background: $background-color; /* Ensure background color is set */
  padding: 1rem; /* Adjust padding as needed */
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      display: flex; /* Align navigation items in a row */
      justify-content: center; /* Center navigation items horizontally */
      width: auto; /* Auto width to fit content */
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}