---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>

    <!-- JavaScript redirect for www to non-www -->
  <script type="text/javascript">
    if (window.location.host === "www.iphadke.github.io") {
      window.location.replace("https://iphadke.github.io" + window.location.pathname + window.location.search);
    }
  </script>
  <script type="text/javascript">
    if (window.location.host === "https://www.iphadke.github.io") {
      window.location.replace("https://iphadke.github.io" + window.location.pathname + window.location.search);
    }
  </script>

  <!-- Meta redirect as a fallback for browsers where JavaScript might be disabled -->
  <meta http-equiv="refresh" content="0; url=https://iphadke.github.io">
    {% include head.html %}
    {% include head/custom.html %}
    <!-- Favicon for all browsers -->
    <link rel="icon" type="image/png" href="{{ '/images/drugsmoney_mini.png' | relative_url }}" sizes="32x32">


  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
